AgorArq/front/artigos/*
AgorArq/front/imagens/*
AgorArq/front/membros/*
AgorArq/front/HTML/*
AgorArq/DataBase/database.sqlite
AgorArq/front/projetos/*
AgorArq/front/trabalhos/*
AgorArq/front/autores/*
AgorArq/front/tcc/*
AgorArq/Pesquisa_Marketing.txt
