/*ELEMENTS*/
body{
	height: 100vh;
	margin: 0;
	padding: 0;
}

header{
	height: 6em;
	display: block;
}

main{
	min-height: 95.9%;
	display: flex;
}

footer{
	height: 7em;
}

div{
	margin: auto;
}

input{
	border-radius: 1em;
}

hr{
	margin-top: 0em;
	margin-bottom: 0em;
	width: 90vw;
	border-radius: 1em;
	height: .05em;
}

/*CLASSES*/

.submenu_CLASS{
	height: 30em;
	margin: .7em;
	padding: .5em;
	border-radius: 1em;
	border-width: .1em;
	border-style: solid;
}

.latmenu_CLASS{
	width: 21.5%;
	height: auto;
}

.mainMenu_CLASS{
	display: flex;
	height: 1em;
	padding: .5em;
}

/*ID*/

section#feed_ID{
	width: 57%;
	height: auto;
	display: block;
}

div#submenu_ID{
	height: 3em;
}

div#conteudo_ID{
	height: 90.7%;
}
