/*CORES
rgba(25,83,89,1)		Azul Esmeralda Escuro
rgba(51,170,184,1)		Azul Esmeralda Palido
rgba(163,255,71,1)		Verde Paris Forte
rgba(118,184,51,1)		Verde Paris Medio
*/


/*ELEMENTS*/
body{
	color: white
}
header{
	background-color: rgba(25, 83, 89, 1);
}

main{
	border-color: rgba(163,255,71,1);
}

footer{
	background-color: black;
}

hr{
	background-color: rgba(163,255,71,1);
	color: rgba(163,255,71,1);
}

button{
	background-color: rgba(118,184,51,1);
}

button:focus{
	background-color: rgba(163,255,71,1);
}

/*CLASSES*/

.mainButton_CLASS{
	color:white
}

/*ID*/

section#feed_ID{
	color: black;
}

div#submenu_ID{
	background-color: rgba(51,170,184,1);
}

div#conteudo_ID{
	background-color: rgba(250,250,250,1);
}

section#navi_ID{
	background: rgba(25, 83, 89, 1);
	border-color: rgba(163,255,71,1);
}
