extend layout 

block navimenu
	h1 DIAGNOSTICO URBANISMO
	hr

block conteudo
	section
		h1 APRESENTAÇÃO
		hr
		iframe(src="HTML/00013/apresentacao.html", frameborder="0", style="height:100vh") 
	section 
		h1 AUTORES
		hr
		section(style="display: flex; flex-wrap:wrap; padding:1em")
			div.infoCel_CLASS
				img(src="autores/luiz_felipe.jpg", alt="SEM FOTO DE PERFIL").imgPerf_CLASS
				h3.titleCel_CLASS LUIZ FELIPE CASTRO COELHO
				div
					p UNIJUAZEIRO
					p 10º
					div SOFTWARES:
						ul
							li AUTOCAD
							li 3DSMAX
							li REVIT
							li PHOTOSHOP
							li ILLUSTRATOR