doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		head
		main 
			form(action="/adm/addMeta", method="post")
				hr 
				section METADADOS 
					div 	
						label(for="Projeto-Meta_ID") ID
						input(type="text" id="Projeto-Meta_ID", name="ID")
					div
						label(for="Nome-Meta_ID") Nome
						input(type="text" id="Nome-Meta_ID", name="Nome")
					section
						div
							input(type="radio", id="Tipo_Projeto-Meta_ID", name="Tipo", value="projeto")
							label(for="Tipo_Projeto-Meta_ID") PROJETO
						div
							input(type="radio", id="Tipo_Artigo-Meta_ID", name="Tipo", value="artigo")
							label(for="Tipo_Artigo-Meta_ID") ARTIGO
						div
							input(type="radio", id="Tipo_Link-Meta_ID", name="Tipo", value="link")
							label(for="Tipo_Link-Meta_ID") LINK
					div
						p INTRODUCAO
						textarea(id="Intro-Meta_ID" name="Introducao", cols="60", rows="4") 
					div
						p DESCRICAO
						textarea(id="Descricao-Meta_ID" name="Descricao", cols="60", rows="50") 
				hr 
				section PROJETO
					div 
						label(for="Escritorio-Projeto_ID") ESCRITORIO
						input(type="text", id="Escritorio-Projeto_ID", name="Escritorio")
					div 
						label(for="Metragem-Projeto_ID") METRAGEM
						input(type="text", id="Metragem-Projeto_ID", name="Metragem")
				hr 
				section ARTIGO
					div
						label(for="Assunto-Artigo_ID") ASSUNTO
						input(type="text", id="Assunto-Artigo_ID", name="assunto")
					section
						div
							input(type="radio", id="Subtipo_Artigo-Artigo_ID", name="Subtipo", value="artigo")
							label(for="Subtipo_Artigo-Artigo_ID") ARTIGO
						div
							input(type="radio", id="Subtipo_Blog-Artigo_ID", name="Subtipo", value="blog")
							label(for="Subtipo_Blog-Artigo_ID") BLOG
				hr 
				section LINK
					section 
						div
							input(type="radio", id="Youtube-Link_ID", name="Link", value="youtube")
							label(for="Youtube-Link_ID") YOUTUBE
						div
							input(type="radio", id="Sketchfab-Link_ID", name="Link", value="sketchfab")
							label(for="Sketchfab-Link_ID") SKETCHFAB
						div
							input(type="radio", id="Prezi-Link_ID", name="Link", value="prezi")
							label(for="Prezi-Link_ID") PREZI
					div 
						label(for="Hiper-Link_ID") LINK
						input(type="text", id="Hiper-Link_ID", name="Hiperlink")
				input(type="submit")
		footer 