doctype html
html(lang="pt-br")
	head
		meta(charset="ISO-8859-1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		header
		main
			form(action="/adm/addMember" method="post")
				div 
					label(for="id-Membro_ID")  ID:
					input(type="text", id="id-Membro_ID", name="ID")
				div 
					label(for="Nome-Membro_ID")  Nome:
					input(type="text", id="Nome-Membro_ID", name="Nome")
				div 
					label(for="Formacao-Membro_ID")  Formação:
					input(type="text", id="Formacao-Membro_ID", name="Formacao") 
				div 
					label(for="Cargo-Membro_ID")  Cargo:
					input(type="text", id="Cargo-Membro_ID", name="Cargo")
				input(type="submit")
		footer