doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		header
		main
			form(action="/adm/addEscrit", method="post") 
				div
					p SOBRE
					textarea(id="Sobre-Escritorio_ID",name="sobre", cols="30", rows="10")
				div
					p VALOR
					textarea(id="Valor-Escritorio_ID",name="valor", cols="30", rows="10") 
				div
					p MISSÃO
					textarea(id="Missao-Escritorio_ID",name="missao", cols="30", rows="10") 
				div
					p VISÃO
					textarea(id="Visao-Escritorio_ID",name="visao", cols="30", rows="10") 
				div
					label(for="Telefone-Escritorio_ID") TELEFONE
					input(type="text", id="Telefone-Escritorio_ID", name="telefone") 
				div
					label(for="WhatsApp-Escritorio_ID") WHATSAPP
					input(type="text", id="WhatsApp-Escritorio_ID", name="whatsapp") 
				div
					label(for="Instagram-Escritorio_ID") INSTAGRAM
					input(type="text", id="Instagram-Escritorio_ID", name="instagram") 
				div
					label(for="FaceBook-Escritorio_ID") FACEBOOK
					input(type="text", id="FaceBook-Escritorio_ID", name="facebook") 
				div
					label(for="LinkedIn-Escritorio_ID") LINKEDIN
					input(type="text", id="LinkedIn-Escritorio_ID", name="linkedin")
				div
					label(for="Twitter-Escritorio_ID") TWITTER
					input(type="text", id="Twitter-Escritorio_ID", name="twitter")
				div
					label(for="TikTok-Escritorio_ID") TIKTOK
					input(type="text", id="TikTok-Escritorio_ID", name="tiktok")
				div
					label(for="Email-Escritorio_ID") EMAIL
					input(type="text", id="Email-Escritorio_ID", name="email")
				input(type="submit")
		footer