doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		head
		main 
			section CREATE
				div 
					a(href="/adm/addMeta") Click Para Adicionar Metadados
				div
					a(href="/adm/addMember") Click Para Adicionar Membro
				div 
					a(href="/adm/addServ") Click Para Adicionar Serviço
				div 
					a(href="/adm/addEscrit") Click Para Adicionar Escritorio
			section READ
				div
					a(href="/adm/readMeta")
				div
					a(href="/adm/readMeta")
				div
					a(href="/adm/readMeta")
				div
					a(href="/adm/readMeta")
			section UPDATE
			section DELETE
		footer 