extend layout 

block navimenu
	h1 NAVEGADOR
	hr
	h2 PRINCIPAL
	h2 VIDEOS
	h3 Documentarios
	h3 Entrevistas
	h2 TEXTOS
	h3 Artigos


block conteudo
	section#manchete_ID
		div#newsMain_ID
			div.icone_CLASS PRINCIPAL
		div 
			div.icone_CLASS SECUNDARIO
		div
			div.icone_CLASS TERCIARIO
		div
			div.icone_CLASS QUATERNARIO
	hr
	section#newsSect_ID
		div.noticia_CLASS
			div(style="height:90%; width:90%;background:gray") FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div.noticia_CLASS
			div(style="height:90%; width:90%;background:gray") FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div.noticia_CLASS
			div(style="height:90%; width:90%;background:gray") FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div.noticia_CLASS
			div(style="height:90%; width:90%;background:gray") FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div.noticia_CLASS
			div(style="height:90%; width:90%;background:gray") FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
	hr
	section
