extend layout 

block navimenu
	h1 CONTEUDO
	hr


block conteudo
	section#manchete_ID
		div(style="width: 100%; height: 100%; grid-row-start: 1; grid-row-end: 4;")
			div.icone_CLASS PRINCIPAL
		div 
			div.icone_CLASS SECUNDARIO
		div
			div.icone_CLASS TERCIARIO
		div
			div.icone_CLASS QUATERNARIO
	hr
	section(style="display: grid; grid-template-columns:50% 50%; padding:1em")
		div
			div(class="infoCel_CLASS contCel_CLASS")
				div.imgCel_CLASS FAVICON
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
			div(class="infoCel_CLASS contCel_CLASS")
				div.imgCel_CLASS FAVICON
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
			div(class="infoCel_CLASS contCel_CLASS")
				div.imgCel_CLASS FAVICON
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
			div(class="infoCel_CLASS contCel_CLASS")
				div.imgCel_CLASS FAVICON
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
			div(class="infoCel_CLASS contCel_CLASS")
				div.imgCel_CLASS FAVICON
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div
			div(class="miniCel_CLASS" style="background-color:gray")
	hr
	section
