extend layout 

block navimenu
	h1 ESCRITÓRIO
	hr


block conteudo
	section
		h1 SOBRE
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam mollitia minima eligendi modi repellat voluptate incidunt aliquam quaerat ipsum fuga sint, quam porro, possimus veritatis dolorum ad sit sapiente.
	hr
	section
		div
			div
			p SERVIÇO
		div
			div
			p SERVIÇO
		div
			div
			p SERVIÇO
	hr
	section
