extend layout 


block navimenu
	h1 ESCRITÓRIO
	hr


block conteudo
	section
		h1 SOBRE
		hr
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam mollitia minima eligendi modi repellat voluptate incidunt aliquam quaerat ipsum fuga sint, quam porro, possimus veritatis dolorum ad sit sapiente.
	section(style="display:flex; flex-wrap:wrap; align-items: center;padding:1%")
		h1 SERVIÇOS
		hr
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PAISAGISMO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS INTERIORES
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS MAQUETE 3D
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS ESTÁGIO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS INTERIORES
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
	section#memb_ID
		h1 MEMBROS
		hr
		div.infoCel_CLASS
				img(src="autores/luiz_felipe.jpg", alt="SEM FOTO DE PERFIL").imgPerf_CLASS
				h3.titleCel_CLASS LUIZ FELIPE CASTRO COELHO
				div
					p UNIJUAZEIRO
					p 10º
					div SOFTWARES:
						ul
							li AUTOCAD
							li 3DSMAX
							li REVIT
							li PHOTOSHOP
							li ILLUSTRATOR
	section#cont_ID
		h1 CONTATO
		hr
		div CONTATO
