extend layout

block navimenu
	h1 ESTUDANTES
	hr

block conteudo
	section(style="display: flex; flex-wrap:wrap; padding:1em")
		section#memb_ID
		h1 MEMBROS
		hr
		div(style="width:100%;display:flex; flex-wrap:wrap")
			for memb in MEMBROS
				div.infoCel_CLASS
						img.imgPerf_CLASS(src="http://127.0.0.1:3000/imagens/"+memb['foto']+"."+memb['ext'], alt="SEM FOTO DE PERFIL")
						h3.titleCel_CLASS=memb['nome']
						div
							p(style="font: bold") CARGO:
							p=memb['cargo']
							p(style="font: bold") FORMAÇÃO:
							p=memb['formacao']