extend layout_main

block titulo
	div.headImg_CLASS(style="background-image: url(imagens/fiscalizacao_de_obras.jpg);")
		h1.cabecallho_CLASS ESTUDANTES

block conteudo
	section(style="display: flex; flex-wrap:wrap;")
		div(style="width:100%")
			h1 MEMBROS
			hr
		div(style="width:100%;display:flex; flex-wrap:wrap")
			for memb in MEMBROS
				div.infoCel_CLASS
						img.imgPerf_CLASS(src="../imagens/"+memb['foto']+"."+memb['ext'], alt="SEM FOTO DE PERFIL")
						h3.titleCel_CLASS=memb['nome']
						div
							h3(style="font: bold; padding-left:1.5em; margin-bottom: .1em") CARGO:
							p(style="padding:0")=memb['cargo']
							h3(style="font: bold; padding-left:1.5em; margin-bottom: .1em") FORMAÇÃO:
							p(style="padding:0")=memb['formacao']