extend layout

block navimenu
	h1 ESTUDANTES
	hr

block conteudo
	section(style="display: flex; flex-wrap:wrap; padding:1em")
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS FULANO
			div
				p INSTITUTO
				p SEMESTRE
				div SOFTWARES
					p AUTOCAD