doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		title AgorArq 
	body
		header
			section.mainMenu_CLASS
				div LOGO
				div BUSCA
			section.mainMenu_CLASS
				div HOME
				div NOTICIAS
				div ESCRITORIO MODELO
				div CATÁLOGO
				div NOTICIAS ANTIGAS
				div SOBRE
		main
			section.latmenu_CLASS#navi_ID
			section#feed_ID
				div#submenu_ID
				div#conteudo_ID
			section.latmenu_CLASS#inter_ID
				div.submenu_CLASS(style="background-color: beige")
		footer