doctype html
html(lang="pt-br")
	head
		meta(charset="ISO-8859-1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		link(rel="stylesheet", href="/CSS/serioTheme.css")
		link(rel="stylesheet", href="/CSS/conteudo.css")
		link(rel="stylesheet", href="/CSS/escritorio.css")
		link(rel="stylesheet", href="/CSS/projetos.css")
		link(rel="stylesheet", href="/CSS/apresentacao.css")
		link(rel="stylesheet", href="/CSS/servicos.css")
		title AgorArq 
	body
		main
			section.latmenu_CLASS#navi_ID
				div(style="height:5em; font-size:1.5em") AgorArq
				hr
				a.mainButton_CLASS(href="/") CONTEUDO
				a.mainButton_CLASS(href="/projetos") PROJETOS
				a.mainButton_CLASS(href="/servicos") SERVIÇOS
				a.mainButton_CLASS(href="/estudantes") EQUIPE
				a.mainButton_CLASS(href="/sobre") SOBRE
			div
				section.mainMenu_CLASS
					block CABECALHO
				section#feed_ID
					//div#conteudo_ID
					block conteudo
		footer