doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/CSS/mainStyle.css")
		link(rel="stylesheet", href="/CSS/serioTheme.css")
		link(rel="stylesheet", href="/CSS/conteudo.css")
		link(rel="stylesheet", href="/CSS/escritorio.css")
		link(rel="stylesheet", href="/CSS/projetos.css")
		title AgorArq 
	body
		header
			section.mainMenu_CLASS(style="height: 2.5em")
				div(style="margin-left:3vw; font-size:1.5em") AgorArq
				div(style="margin-right:7vw")
					input(type="text")
					span BUSCA
			hr
			section.mainMenu_CLASS(style="padding-left: 15vw; padding-right:15vw")
				a(href="/") CONTEUDO
				a(href="/projetos") PROJETOS
				a(href="/escritorio") ESCRITORIO
				a(href="/estudantes") ESTUDANTES
				a(href="/tcc") TCC
				//a(href="/bd") BANCO DE DADOS
				a(href="/sobre") SOBRE
		main
			section.latmenu_CLASS#navi_ID
				block navimenu
			section#feed_ID
				div#conteudo_ID
					block conteudo
			section.latmenu_CLASS#inter_ID
				div.submenu_CLASS(style="background-color: beige; color: black").
					FORUM
		footer