doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body(style="margin:0;display:grid; grid-template-columns:20% 80%;")
		header(style="grid-column:1/2; display:grid; position: fixed;width:20%;heigth:100% ;background-color:rgba(1,1,1,.6)")
			a(href="/home") HOME 
			button ESCRITORIO
			button PARCEIROS
			button MEMBROS
			button PROJETO
			button ARTIGOS
			button VIDEOS
			button ICONES
		main(style="grid-column:2/3")
			block FORMS
