extend layout 

block titulo
	img(src="../icones/LOGO.svg", alt="NÂO TEM IMAGEM", style="height: 20em; margin: 3em auto auto auto")
	h1(style="color:black; text-align:center; margin:0; font-size:3em; height: 3em") LINKS

block conteudo
	section
		
		iframe(width="560" height="315" src=LINK[0]['youtube'], title=META[0]['nome'], frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
		hr
	section
		div
			for par in META[0]['paragrafos']
				p=par