extend projetos

block projeto
	h1 PA I
	hr
	section.expositor_CLASS
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
	h1 PA II
	hr
	section.expositor_CLASS
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
	h1 PA III
	hr
	section.expositor_CLASS
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
	h1 PA VI
	hr
	section.expositor_CLASS
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi uasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
	h1 PA V
	hr
	section.expositor_CLASS
		div(class="infoCel_CLASS expoCel_CLASS")
			div.imgCel_CLASS FAVICON
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.