extend layout 

block navimenu
	h1 PROJETOS
	hr
	h3 Arquitetonicos
	h3 Urbanisticos
	h3 Paisagismo
	h3 Interiores
	h3 Extensão
	h3 Escritorio


block conteudo
	section
		div#projSubmenu_ID
			a(href="/2017.1") 2017.1
			a(href="/2017.2") 2017.2
			a(href="/2018.1") 2018.1
			a(href="/2018.2") 2018.2
			a(href="/2019.1") 2019.1
			a(href="/2019.2") 2019.2
			a(href="/2020.1") 2020.1
			a(href="/2020.2") 2020.2
			a(href="/2021.1") 2021.1
			a(href="/2021.2") 2021.2
	hr
	section
		div
			div
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores exercitationem repellat est veritatis consectetur corporis aut cumque molestiae ipsum quia illo repudiandae quisquam, perspiciatis consequuntur eligendi distinctio dignissimos hic vel!
