extend layout 

block navimenu
	h1 PROJETOS
	hr


block conteudo
	section(style="padding:1em")
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/cultural")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00002/thumbnail.png", alt="")
			p.tituloProj_CLASS CENTRO CUTURAL
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/edificil")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00003/thumbnail.png", alt="")
			p.tituloProj_CLASS VILA VIEIRA
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/hospital")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00004/thumbnail.jpg", alt="")
			p.tituloProj_CLASS PROJETO HOSPITALAR
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/loteamento")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00005/thumbnail.png", alt="")
			p.tituloProj_CLASS LOTEAMENTO
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/estudo_paisagismo")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00006/thumbnail.jpg", alt="")
			p.tituloProj_CLASS PAISAGISMO HOSPITALAR
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/diag_praca")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/HTML/00012/thumbnail.png", alt="")
			p.tituloProj_CLASS DIAGNOSTICO DA PRAÇA
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/diag_urb")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/HTML/00013/thumbnail.png", alt="")
			p.tituloProj_CLASS DIAGNOSTICO URBANISTA
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/interiores")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/projetos/00007/thumbnail.png", alt="")
			p.tituloProj_CLASS PROJETO DE INTERIORES
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/washington")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/trabalhos/00008/thumbnail.png", alt="")
			p.tituloProj_CLASS CARTA DA WASHINGTON
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/catalogo")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/trabalhos/00009/thumbnail.png", alt="")
			p.tituloProj_CLASS CATÁLOGO DE VEGETAÇÕES
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.
		div(class="infoCel_CLASS contCel_CLASS")
			a.projButton_CLASS(href="/estudo_paisagismo")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/trabalhos/00010/thumbnail.png", alt="")
			p.tituloProj_CLASS PAISAGISMO
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.