extend layout 

block navimenu
	h1 PROJETOS
	hr
	h3 Arquitetonicos
	h3 Urbanisticos
	h3 Paisagismo
	h3 Interiores
	h3 Extensão
	h3 Escritorio


block conteudo
	section(style="display: flex; flex-wrap: wrap; width:100%")
		div#submenu_ID
			button(href="/2017.1") 2017.1
			button(href="/2017.2") 2017.2
			button(href="/2018.1") 2018.1
			button(href="/2018.2") 2018.2
			button(href="/2019.1") 2019.1
			button(href="/2019.2") 2019.2
			button(href="/2020.1") 2020.1
			button(href="/2020.2") 2020.2
			button(href="/2021.1") 2021.1
			button(href="/2021.2") 2021.2
	block projeto