extend layout 

block CABECALHO
	div.headImg_CLASS(style="background-image: url(imagens/gerenciamento_obra.jpg);")
		h1.cabecallho_CLASS ESCRITÓRIO


block conteudo
	section(style="display:flex; flex-wrap:wrap; align-items: center;")
		div(style="width:100%")
			h1 SERVIÇOS
			hr
		for serv,i in SERVICOS
			if ((i%2)==0)
				div.servCel_CLASS.straightCel_CLASS
					div.imgServ_CLASS.strImg_CLASS
						img.imgCel_CLASS(src="http://127.0.0.1:3000/imagens/"+serv['foto']+"."+serv['ext'], alt="SEM FOTO DE PERFIL")
					h1.titleCel_CLASS(style="text-align:center; padding: 0 20% 0 20%")=serv['servico']
					p.descPar_CLASS=serv['introducao']
			else
				div.servCel_CLASS.reverseCel_CLASS
					div.imgServ_CLASS.revImg_CLASS
						img.imgCel_CLASS(src="http://127.0.0.1:3000/imagens/"+serv['foto']+"."+serv['ext'], alt="SEM FOTO DE PERFIL")
					h1.titleCel_CLASS(style="text-align:center")=serv['servico']
					p.descPar_CLASS=serv['introducao']
	
