extend layout 

block CABECALHO
	div.headImg_CLASS(style="background-image: url(imagens/iStock-936384788.jpg);")
		h1.cabecallho_CLASS SOBRE

block conteudo
	section(style="display:grid; height:100%")
		h1 ESCRITORIO
		hr
		for parSob in ESCRITORIO[0]['parSobre']
			p=parSob
		h2 MISSÃO
		for parMis in ESCRITORIO[0]['parMissao']
			p=parMis
		h2 VISÃO
		for parVis in ESCRITORIO[0]['parVisao']
			p=parVis
		h2 VALORES
		for parVal in ESCRITORIO[0]['parValor']
			p=parVal