extend layout 

block navimenu
	h1 SOBRE
	hr
	h3 O Site
	h3 Os Patrocinadores
	h3 A Situação Legal

block conteudo
	section(style="display:grid; height:100%")
		a(href="/paisagismo" style="color:black") PROJETO DE PAISAGISMO
		a(href="/cultural" style="color:black") CENTRO CULTURAL
		a(href="/edificil" style="color:black") EDIFICIL RESIDENCIAL COMERCIAL
		a(href="/hospital" style="color:black") PROJETO DE HOSPITALAR
		a(href="/loteamento" style="color:black") PROJETO DE LOTEAMENTO
		a(href="/catalogo" style="color:black") CATALOGO DE VEGETAÇÕES
		a(href="/washington" style="color:black") CARTA DE WASHINGTON
		a(href="/permacultura" style="color:black") PERMACULTURA
		a(href="/estudo_paisagismo" style="color:black") ESTUDO DE PAISAGISMO
		a(href="/diag_praca" style="color:black") DIAGNOSTICO DE PRAÇA
		a(href="/diag_urb" style="color:black") DIAGNÓSTICO DE URBANISMO