extend layout

block navimenu
	h1 TCC
	hr

block conteudo
	section
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PROJETO ARQUITETONICO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS PAISAGISMO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS INTERIORES
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS MAQUETE 3D
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS ESTÁGIO
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!
		div.infoCel_CLASS
			div.imgCel_CLASS IMAGEM
			p.titleCel_CLASS INTERIORES
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure quasi suscipit, maiores omnis aperiam repudiandae? Dignissimos, aperiam excepturi quaerat hic dolor, veniam dolorem laborum ea deserunt iure, rerum fugit!