extend layout

block navimenu
	h1 TCC
	hr

block conteudo
	section
		div.infoCel_CLASS
			a.projButton_CLASS(href="/tcc-luiz")
			div.imgHandler_CLASS
				img.imgCel_CLASS(src="/tcc/00014/thumbnail.png", alt="NOT FOUND")
			p.tituloProj_CLASS CENTRO CUTURAL
			p.bioProj_CLASS Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quaerat, atque asperiores temporibus aliquam sequi quasi aperiam adipisci soluta quibusdam sit officia! Dolores magnam enim tempore eaque corporis placeat voluptatem.